* {
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}

.Man {
    position: relative;
    width: 100%;
    height: 100vh;
    background: rgb(161, 98, 220);
}

nav {
    display: flex;
    width: 80%;
    margin: auto;
    padding: 0px 80px;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;

}
nav ul li a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}
nav ul li a:hover{
    color: brown;
}
.details{
    margin-left: 10%;
    margin-top: 13%;
}
.details h1{
    font-size: 50px;
    color:black;
    margin-bottom: 20px;
}
span {
    color:darkorange;
}
.details p{
    color:black;
    line-height: 23px;
}
h3 span{
    color:maroon;
}
.details a{
    background-color:crimson;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color:black;
    display:inline-flex;
    margin: 30px 10px;
    border-radius: 7px;
    
}
.images{
    width:45%;
    height: 80%;
    position:absolute;
    bottom: 0;
    right: 10px;
}
.images img{
    height: 70%;
    right: 90px;

}
.nav1{
    height: 50px;
    width: 90%;
    background-color:gold;
    display: flex;
    justify-content: space-between;
    align-items:end;
    padding: 0px 80px;
}
.nav1 i{
    margin: 6px;
    padding: 0px 18px;
    font-size:larger;

}
